/*!
 * Layout
 */

body
  display: flex
  flex-direction: column
  min-height: 100vh
  background: #efefef
  padding: 1em
 
#app
  width: 100%
  max-width: 1100px
  padding: 2em
  margin: 0px auto

section
  width: 100%
  padding: 2em
  outline: 1px solid blue

.box
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: 1em

#company
  background: ALT

h2, label
  width: 100%
