/*!
 * Layout
 */

body
  display: flex
  flex-direction: column
  min-height: 100vh
  background: #efefef
  padding: 1em
 
#app
  width: 100%
  max-width: 1100px
  padding: 2em
  margin: 0px auto

section
  width: 100%
  padding: 2em

.box
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: 1em
  @media screen and (max-width: 700px)
    grid-template-columns: 1fr

.columns
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-gap: 1em

#company
  background: ALT


.participant
  background: green !important


.full
  width: 100%
  background: blue
